---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
const posts = (await getCollection('posts'))
  .filter((p) => !p.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  )
---

<BaseLayout>
  <h1 class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">Blog Like a Local</h1>
  <p>Interesting takes on pronunciation, culture, and language preservation.</p>
  <section class="grid">
    {
      posts.map((p) => (
        <a class="card" href={`/blog/${p.slug}/`}>
          {p.data.image && (
            <div class="card-image-wrapper">
              <img
                src={p.data.image}
                alt={`${p.data.title} thumbnail`}
                class="card-image"
                loading="lazy"
                decoding="async"
                width="800"
                height="450"
              />
            </div>
          )}
          <h2>{p.data.title}</h2>
          {p.data.description && <p>{p.data.description}</p>}
          {p.data.tags && (
            <div class="tags-container">
              {p.data.tags.map((tag) => (
                <span class="tag-wrapper">
                  <span class="tag">{tag}</span>
                </span>
              ))}
            </div>
          )}
        </a>
      ))
    }
  </section>
</BaseLayout>
